:root {
    --main-bg-color: #d4d4ff;
    --mainfont: 'Poppins', sans-serif;
    --smallText: .8em;
    --secondaryText: 1.2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--mainfont);
    margin: 1.5em;
    background-image: url("/images/background/mainbg.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(65, 153, 105);
    width: 50%;
    height: 100vh;
    text-transform: uppercase;
    z-index: 2;
    transform:  translateX(100%);
    transition: transform .5s ease-in-out;
}

nav ul {
    list-style-type: none;
    margin-top: 8em;
}

nav ul a {
    color: rgb(228, 228, 228);
    padding: .75em 2em;
    font-weight: 500;
    display: block;
}

nav .close{
    width: 25px;
    float: right;
    margin: 2em;
    cursor: pointer;
}

nav ul a:hover {
    background-color: rgb(69, 70, 69);
}


div.item {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: black;
}

.menu {
    cursor: pointer;
}

.open-nav {
    transform: translateX(0%);
}

section .profile {
    display: flex;
    align-items: center;
    margin: 1em 0;
    font-size: var(--smallText);
}

section .profile img {
    width: 150px;
    height: 250px;
    margin-right: 2.5em;
    border-radius: 8px;
}

section .profile img:hover {
    opacity: 90%;
}

section .tech {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

section .tech img {
    width: 40px;
    height: 40px;
}

section .tech img:hover {
    opacity: 75%;
}

.more-info p {
    font-size: var(--smallText);
    margin: 1em 0;
}

@media only screen and (min-width: 680px) {
    body {
        margin: 2.5em;
    }
}

@media only screen and (min-width: 876px) {
    body {
        margin: 2.5em;
    }
    
    .menu {
        display: none;
    }

    section .profile {
        display: flex;
        align-items: center;
        margin: 1em 0;
        font-size: var(--secondaryText);
    }

    .more-info p {
        font-size: var(--secondaryText);
        margin: 1em 0;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }

    nav .close {
        display: none;
    }

    nav .nav-links {
        display: flex;
        margin: 0;
    }

    nav .nav-links a {
        color: rgb(65, 153, 105);
    }

    nav .nav-links a:hover {
        background: none;
        text-decoration: underline;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .wrapper {
        margin: 2em;
    }

    section .profile img {
        width: 200px;
        height: 300px;
        margin-right: 2.5em;
        border-radius: 8px;
        
    }

    @media only screen and (min-width: 1024px) {
        body {
            margin: 3.5em;
        }

        section .profile img {
            width: 200px;
            height: 300px;
            margin-right: 2.5em;
            border-radius: 8px;
        }

        .more-info h1 {
            text-align: center;
        }
    
}



}