:root {
    --main-bg-color: #d4d4ff;
    --mainfont: 'Poppins', sans-serif;
    --smallText: .8em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--mainfont);
}

a {
    text-decoration: none;
}

.main-bg-img {
    position: absolute;
    background-image: url('/images/background/mainbg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}



